#cy {
       
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

  .myFirstClass{
    color:red;
    background: red;
    background-color: red;
  }
.class_two {
  position: absolute;
  display: block;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 7px;
}
.class_two::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
